.icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.icons__icon{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons__icon img{
    width: 50px;
    height: 50px;
}
.icons__icon__text{
    margin-top: 15px;
    text-align: center;
    color: rgba(0,0,0,.5);
}
.icon__ID{
    width: 40px;
    height: 40px;
    border: 4px solid #1F3050;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}